*{
    box-sizing: border-box;
    margin: 0px;
    font-family: 'expoarabic' , 'sans serif';
}
:root
{
    --primary-color:#2B4365;
    --secondary-color:#FCDABF;
    --dark-color:#000;
    --light-color:#fff;
    --gary-color:#808080;
}
@font-face {
    font-family:'expoarabic';
    src: url(../fonts/ExpoArabic-Book.ttf);
    font-family: 500;
}
@font-face {
    font-family: 'expoarabic';
    src: url(../fonts/ExpoArabic-SemiBold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'expoarabic';
    src: url(../fonts/ExpoArabic-Medium.ttf);
    font-weight: 400;
}
.container
{
    width:90%;
    margin: 0px auto;
    padding: 0px 15px;

}
a
{
    text-decoration: none;
} 
ul
{
    list-style: none;
    padding: 0px;
    margin: 0px;
} 
nav
{
    width: 100%;
    padding: 15px 0pxx;
    position: fixed;
    z-index: 99;
    background-color: var(--light-color);

} 
nav .contain
{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
nav .contain .navbar-nav 
{
   gap: 30px;
   align-items: center;
   align-content: center;
   display: flex; 
}
nav .contain .navbar-nav .navbar-item .navbar-link
{
    color: var(--gary-color);
    font-weight: 500;
    font-size: 15px;
}
nav .contain .navbar-nav .navbar-item .navbar-link:hover
{
    color:var(--dark-color);
}
nav .contain .brand-image
{
    width: 150px;
    height: 60px;
    object-fit: contain;
    object-position: center;
}
nav .contain .navbar-btn .navbar-box
{
    padding:0px 15px;
    color:var(--primary-color);
}
nav .contain .navbar-btn .custom-btn
{
    color: var(--light-color);
    background-color:var(--primary-color);
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    transition: 10 linear;
}
nav .contain .navbar-btn .custom-btn:hover
{
   transform: translateY(-10px);
}
header
{
    width: 100%;
    padding:300px 0px 200px;
    background: url('../images/intro/intro.png') ;
    background-repeat: no-repeat;
    background-size: cover;
}
header .contain
{
    color: var(--light-color);
    font-weight: 700;
}
header .contain span
{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
}
header .contain h1
{
    margin-top: 20px;
    font-size: 50px;
    font-weight: 700;
    width: 50%;
    border-right: 4px solid var(--light-color);
    border-radius: 10px;
    padding-right: 20px;
    margin-bottom: 10px;
}
header .contain p
{
    margin-top: 40px;
    font-size: 20px;
    font-weight: 400;
    opacity: 80%;
} 

.featuers .contain
{ display: flex;
   align-items: center;
   align-content: center;
   justify-content: space-between;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 5px;
    margin: -50px 0px;
    margin-bottom: 20px;
}
.featuers .contain .featuers-row
{
   display: flex;
   margin:20px 10px;
   gap: 10px;
}
.featuers .contain span
{
    margin:0px 20px;
}
.featuers .contain .featuers-row .featuers-contain
{
    font-size: 15px;
    font-weight: 400;
}
.featuers .contain .featuers-row .featuers-contain h2
{
    margin-bottom: 10px;
    font-size: 20px;
}
.service .contain .head
{
    padding-top: 20px;
    display: flex;
    width: 100%;
}

.service .contain .head .header
{
    font-weight: 500;
    font-size: 15px;
    border-right: 5px solid var(--primary-color);
    border-radius: 2px;
    width: 50%;

}
.service .contain .head .header span
{
    color: var(--primary-color);
    padding: 10px 20px;
    font-size: 20px;
}
.service .contain .head .header h1
{
    color: var(--dark-color);
    padding: 20px 20px;
    font-size: 30px;
}
.service .contain .head p
{
    color: var(--dark-color);
    opacity: 50%;
    width: 40%;
    font-size: 20px;
    font-weight: 400;
    padding-right: 50px;
    line-height: 50px;
}
.service .service-tittle
{
    text-align: center;
    border-top: 3px solid var(--light-color);
    color: var(--light-color);
    border-radius: 3px;
    background: url('../images/services/service_3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding:300px 0px 200px;
}
.service .service-tittle span
{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.service .service-tittle h1
{
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}
.service .service-tittle p
{
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}
.service .row
{
    width:100%;
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    justify-content:space-between;
    flex-wrap: wrap;
    gap:12px;
    margin: -70px auto;
}
.service .row .box
{
    width:30%;
    border: 2px solid var(--gary-color);
    border-radius: 5px;
    transition:  .5s linear;
    
}
.service .row .box:hover
{
    color: var(--primary-color);
    transform: translateY(-10px);
}
.service .row .box h2
{
    margin: 20px 20px;
    white-space: 5px;


}
.service .row .box .box-image
{
    width: 100%;
    overflow: hidden;
    white-space: 5px;
}
.service .row .box p
{
    margin: 20px 20px;
    white-space: 5px;
}
.explore
{
    width: 100%;
    margin-top: 200px;
}
.explore .head
{
    font-weight: 500;
}
.explore .head .header
{
    border-right: 6px solid var(--primary-color);
    border-radius: 3px;
    padding-right: 20px;
}
.explore .head .header span
{
    color: var(--primary-color);
    margin-bottom: 20px;
}
.explore .head .header h2
{
    margin-top: 20px;
    font-size: 30px;
}
.explore .head p
{
    opacity: 70%;
    margin-top: 30px;
    font-size: 20px;
    word-spacing: 5px;
}
.explore .row
{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 50px;
    gap: 15px;
    
}
.explore .row .box
{
    width: 24%;
    border: 2px solid  rgb(196, 195, 195);
    border-radius: 10px;

}
.explore .row .box .explore-image
{
    margin: 20px 20px;
}
.explore .row .box h3
{
    margin: 20px 20px;
}
.explore .row .box p
{
    margin: 20px 20px ;
    opacity: 70%;
}
.explore .row .box:hover
{
    color: var(--primary-color);
}
.about .contain
{
    display: flex;
    padding-top: 100px;

}
.about .contain .about-image
{
    width: 50%;
}
.about .contain .head
{
    margin-right: 30px;  
}
.about .contain .head .header
{
    border-right: 5px solid var(--primary-color);
    border-radius: 3px; 
    padding-right: 20px;
}
.about .contain .head .header span
{
    color: var(--primary-color);
   margin: 30px 0px;
}
.about .contain .head .header span
{
    margin: 30px 0px;
}
.about .contain .head p
{
    opacity: 60%;
    padding: 30px 0px;
    line-height: 50px;
    width: 70%;
    font-weight: 700;
    font-size: 30px;
}
.team
{
    display: flex;
    padding-top:100px ;
}
.team .head
{
    padding: auto;
    font-weight: 700;
    font-size: 30px;
}
.team .head .header span
{
    color: var(--primary-color);
    font-size: 20px;
}
.team .head .header span
{
    font-size: 20px;
}
.team .head .header 
{
    border-right: 5px solid var(--primary-color);
    border-radius: 3px;
    padding-right: 30px;
}
.team .head p
{
    opacity: 60%;
    font-size: 20px;
    padding: 50px 0px;
}
.team .team-contain
{
    display: flex;
    padding-top: 50px;
}
.team .team-contain .team-head
{
    padding: 100px 100px;
}
.team .team-contain .team-head .team-header
{
    font-size: 20px;
    padding-bottom: 50px;
}
.team .team-contain .team-head .team-header h2
{
    color: var(--primary-color);
    padding-bottom: 30px;
}
.team .team-contain .team-head p
{
    opacity: 60%;
    font-size: 28px;
}
.question 
{
    padding-top: 100px;
}
.question .head .header
{
    font-size: 20px;
    font-weight: 700;
    border-right: 5px solid var(--primary-color);
    border-radius: 3px;
    padding-right: 20px;

}
.question .head .header span
{
    color: var(--primary-color);
    font-size: 20px;
    padding: 30px 0px;
}
.question .head .header span
{
    font-size: 20px;
    padding: 30px 0px;
}
.question .head p
{
    opacity: 60%;
    font-size: 20px;
    padding: 30px 0px;
}
.question .row
{
    display: flex;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}
.question .row .box
{
    width: 30%;
    display: flex;
}
.question .row .box .box-head 
{
    font-size: 15px;
    font-weight: 500;
}
.question .row .box .box-head p
{
    font-size: 15px;
    font-weight: 500;
    opacity: 60%;
    padding: 20px 0px;
}
.question .row .box .box-head h1
{
    font-size: 15px;
    font-weight: 500;
    opacity: 90%;
}
.contact .contain
{
    display: flex;
    padding-top: 150px;
}
.contact .contain .head h1
{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 50px;
}
.contact .contain .head p
{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 50px;
    opacity: 60%;
}    
.contact .contain .form-group
{
    padding: 20px 0px;
    width: 100%;
    
}
.form-group label
{
    font-size: 16px;
    font-weight: 700;
    display: block;
    margin-bottom: 15px;
}

.form-group .form-icon 
{
    width: 100%;
    height: 50px;
    position: relative;
}
.form-group .form-icon  img
{
    position: absolute;
    width: 24px;
    height: 24px;
    right: 15px;
   margin-top: 15px;
}
.form-group .form-icon .form-control
{
    width: 90%;
    height: 100%;
    padding: 0px 50px;
    border: 1px solid;
    border-radius: 5px;
}

.contact .image-contain
{
    height: 400px;
}
.contact .image-contain img
{
   height: 100%;
   width: 100%;
   object-fit: contain;
   object-position: center;
   margin-right: 50px;
}
.form-textarea .form-icon
{
    height: 100px;
    position: relative;

}
.form-textarea .form-icon img
{
    top: 15px;
    position: absolute;
    margin-right: 5px;
}
.form-textarea .form-icon .form-control
{
   resize: none;
   padding-top: 15px;
   width: 80%;
}
.contact .row
{
    display: flex;
}
.contact .navbar-btn .custom-btn span
{
    color: var(--light-color);
    background-color:var(--primary-color);
    padding: 10px 55px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;    
    
}
footer .contain
{
     background-color: var(--primary-color);
    font-size: 16px;
    font-weight: 500px;
    margin-top: 100px;
    line-height: 30px;
    color: var(--light-color);
}
footer .contain .footer-image
{
    margin:50px 50px ;
}

footer .contain .header
{
    margin-right: 50px;
    display: flex;
}
footer .contain .header .head h2
{
    line-height: 50px;
}
footer .contain .header .footer-head
{
    margin: 0px 60px;
}
footer .contain .header .footer-contact .contact-data
{
    color: var(--light-color);
    margin: 0px 60px;
}
footer .contain .header .footer-contact .contact-data .flex-data
{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
 
footer .contain .header .footer-contact .contact-data .flex-data img
{
  object-fit: contain;
  width: 24px;
  height: 24px;
}
footer .contain .header .footer-contact .contact-data .flex-data p
{
    margin: 0px !important;
}
.copyrights
{
    align-items: center;
    text-align: center;
    
    align-content: center;
    border-top: 2px solid var(--light-color);
    margin: 20px 0px;
}
.copyrights p
{
    margin: 30px 0px;

}
.copyrights .social-media
{
    display: flex;
   text-align: center;
   align-items: center;
   align-content: center;
   justify-content: center;
}
